.navbar {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: space-between;
}

.input-section>div {
    padding-right: 20px;
}

.filter-input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    margin-left: 10px;
}

.input-section {
    display: flex;
    padding: 15px;
}

.buttons-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.route-button>button {
    background-color: #61dafb;
}

.route-button {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
    height: 70%;
}

.price-sort-dropdown {
    color: black;
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 10px;
}